<div class="container mt-5">

        <!-- <div class="text-center">
          <input class="form-control" type="file" 
                  (change)="onBillFileSelect($event)">        
          <button (click)="onBillFileUploadClick()" 
              class="btn btn-success">
              Upload
          </button>
      </div> -->
      <div class="text-center">
        <input class="form-control" type="file" 
               (change)="onBillFileSelect($event)">        
        <button (click)="onBillFileUploadClick()" 
                class="btn btn-success">
            Upload
        </button>
        <div *ngIf="showSuccessMessage" class="alert alert-success mt-3">
            Upload Successful!
        </div>
    </div>
    

    
   
  <div > 
      <div class="col-md-6"> <h2>Customer List</h2></div>

      <div class="col-md-6">  
        <button class="btn btn-primary" (click)="addCustomer()">Add Customer</button>
      </div>
  </div>
  &nbsp;
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>Customer ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Address</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let customer of customers">
        <td>{{ customer.customerId }}</td>
        <td>{{ customer.customerName }}</td>
        <td>{{ customer.email }}</td>
        <td>{{ customer.phoneNumber }}</td>
        <td>{{ customer.address }}</td>
        <td>
          <a [routerLink]="['customerdetails', customer.customerId]" class="btn btn-primary">View</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
