<div class="container">
  <div class="row justify-content-center align-items-center" style="min-height: 100vh;">
      <div class="col-md-6">
          <div class="card">
              <div class="card-header">
                  <h1 class="card-title text-center">Login</h1>
              </div>
              <div class="card-body">
                  <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>

                      <div class="mb-3">
                          <label for="employeeid" class="form-label">Employee ID</label>
                          <div class="input-group">
                              <span class="input-group-text">
                                  <i class="fa fa-user"></i>
                              </span>
                              <input #employeeid="ngModel" ngModel name="employeeid" class="form-control"
                                  id="employeeid" placeholder="Employee ID" required>
                          </div>
                          <div class="invalid-feedback" *ngIf="employeeid.touched && employeeid.invalid">
                              Please enter a valid Employee ID.
                          </div>
                          &nbsp;
                          <div class="mb-3">
                            <button class="btn btn-primary" (click)="sendOTP(employeeid.value)">Send OTP</button>
                        </div>
                      </div>
                   

                      <div class="mb-3">
                          <label for="otp" class="form-label">OTP</label>
                          <div class="input-group">
                              <span class="input-group-text">
                                  <i class="fa fa-lock"></i>
                              </span>
                              <input #otp="ngModel" ngModel name="otp" type="{{ isShow ? 'password' : 'text' }}"
                                  class="form-control" id="otp" placeholder="Enter OTP" required>
                              <span class="input-group-text" (click)="onShow()" style="cursor: pointer;">
                                  <i [ngClass]="{'fa': true, 'fa-eye-slash': isShow, 'fa-eye': !isShow}"></i>
                              </span>
                          </div>
                          <div class="invalid-feedback" *ngIf="otp.touched && otp.invalid">
                              Please enter a valid OTP.
                          </div>
                      </div>

                      <div class="mb-3">
                          <button class="btn btn-success btn-block" [disabled]="!f.valid">Login</button>
                      </div>
                  </form>
              </div>
              <div class="card-footer text-danger text-center">
                <p class="font-weight-bold">{{ incorrect }}</p>
            </div>
          </div>
      </div>
  </div>
</div>
