
<div class="container mt-5" *ngIf="customerDetails">
  <button class="btn btn-danger" (click)="backToHomepage()">Back To Home Page</button> 
  <h2>Customer Details</h2>
  <p>Customer ID: {{ customerId }}</p>
  <p>Name: {{ customerDetails.customerName }}</p>
  <p>Address: {{ customerDetails.address }}</p>
  <!-- Display other customer details here -->

  <button class="btn btn-primary" (click)="onClickViewBills()">View Bills</button>
  &nbsp;
  <button class="btn btn-primary" (click)="onClickViewTransaction()" >Transaction</button>
  &nbsp;
  <button class="btn btn-primary" (click)="addBill()" >Add Bill</button>

</div>

<!-- Add this below the button to display the bills -->
<div *ngIf="bills" class="mt-5">
  <h2>Bills</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Bill ID</th>
        <th>Unit Consumed</th>
        <th>Bill Amount</th>
        <th>Bill Duration</th>
        <th>Due Date</th>
        <th>Is Paid</th>
        <th>Invoice</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let bill of bills">
        <td>{{ bill.billId }}</td>
        <td>{{ bill.unitConsumed }}</td>
        <td>{{ bill.billAmount }}</td>
        <td>{{ bill.billDuration | date }}</td>
        <td>{{ bill.dueDate | date }}</td>
        <td>{{ bill.isPaid ? 'Yes' : 'No' }}</td>
        <td>
          <button class="btn btn-primary" (click)="generateInvoice(bill)">Generate Invoice</button>
          &nbsp;
          <button class="btn btn-danger" (click)="payBillByCash(bill)">Pay By Cash</button> 
         
        </td>
      </tr>
    </tbody>
  </table>
</div>
